appdirs==1.4.4
asgiref==3.3.4
distlib==0.3.2
Django==3.2.4
filelock==3.0.12
fire==0.1.2
joblib==1.0.1
numpy==1.20.3
pandas==1.2.4
peewee==2.8.8
python-dateutil==2.8.1
pytz==2021.1
scikit-learn==0.24.2
scipy==1.6.3
six==1.16.0
sklearn==0.0
sqlparse==0.4.1
threadpoolctl==2.1.0
virtualenv==20.4.7
virtualenvwrapper-win==1.2.6
Workon==0.8.2
